<div class="container py-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Bienvenido a Mi Perfil App</h1>
        <p class="lead mb-5">
            Esta aplicación te permite crear y gestionar tu perfil personal utilizando
            tecnologías web modernas como geolocalización y acceso a la cámara.
        </p>
        <div class="row justify-content-center gap-3">
            <div class="col-md-3">
                <button  class="btn btn-primary btn-lg w-100" onclick="cambiarPagina('./views/crear_perfil.html')">
                    <i class="bi bi-person-plus"></i> Crear Perfil
                </button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success btn-lg w-100" onclick="cambiarPagina('./views/ver_perfil.html')">
                    <i class="bi bi-person"></i> Ver Perfil
                </button>
            </div>
            <br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>